{% extends "base.html" %}
{% block title %}
Add Product
{% endblock %}
{% block content %}


<div class="container-fluid">

    <div class="row">
        <!--Screen Title-->
        <div>
            <h2>新製品登録 <img src="{{url_for('static', filename='resource/icon/add.svg')}}"
                           style="width:20px;height:20px;margin-bottom:5px;" alt="add"/></h2>
            <hr class="divider">
        </div>
        <div class="col-lg-4">
            <!--Menu Collapse-->
            <div class="container mt-3">
                <div id="accordion">

                    <!--Model Choose-->
                    <div class=" card-container">
                        <div class="card-header">
                            <a class="btn btn-custom" data-bs-toggle="collapse" href="#collapseOne">
                                <h1 class="label"> ① モデル選択</h1>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class=" d-flex justify-content-center col-lg-6">
                                            {% include 'top_register_product_modal.html' %}

                                    </div>
                                    <div class="d-flex justify-content-center col-lg-6">
                                       {% include 'side_register_product_modal.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Data Augmentation-->
                    <div class="card-container">
                        <div class="card-header">
                            <a class="btn btn-custom" data-bs-toggle="collapse" href="#collapseThree">
                                <h1 class="label">② データ拡張</h1>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                Film, size, rotate,...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!--                                    <script>-->
            <!--                             navigator.mediaDevices.enumerateDevices().then(function (devices) {-->
            <!--                                    for(var i = 0; i < devices.length; i ++){-->
            <!--                                        var device = devices[i];-->
            <!--                                        if (device.kind === 'videoinput') {-->
            <!--                                            var option = document.createElement('option');-->
            <!--                                            option.value = device.deviceId;-->
            <!--                                            option.text = device.deviceId || 'camera ' + (i + 1);-->
            <!--                                            document.querySelector('select#videoSource').appendChild(option);-->
            <!--                                        }-->
            <!--                                    };-->
            <!--                                });-->

            <!--                                    </script>-->
            <!--                                    <select id="videoSource"></select>-->

        </div>

    </div>

</div>

{% endblock %}
<!--   <div class="col-lg-6">&ndash;&gt;-->
<!--                    <img src="{{ url_for('camera_top', camera_id=cameras['TOP']) }}" width="100%" class="rounded"><br/>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <img src="{{ url_for('camera_side', camera_id=cameras['SIDE']) }}" width="100%"-->
<!--                         class="rounded"><br/>-->
<!--                </div>

