{% extends "base.html" %}
{% block title %}
Menu
{% endblock %}
{% block content %}
<div class="container-fluid">
    <form method="post">
           <button type="submit"  class="button-menu" role="button" name="btn_control" value="btn_add">新製品追加</button>
<!--        <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--                <button type="submit" class="button-menu" role="button" name="btn_control" value="btn_evolve">モデル情報</button>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <button type="submit"  class="button-menu" role="button" name="btn_control" value="btn_add">新製品追加</button>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--                <button type="submit"  class="button-menu" role="button" name="btn_control" value="btn_change">デサイン変更</button>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <button type="submit"  class="button-menu" role="button" name="btn_control" value="btn_augmentations">データ拡張</button>-->
<!--            </div>-->

<!--        </div>-->
    </form>
</div>
{% endblock %}
