<!DOCTYPE html>

<!--Open newProductModal Button-->
<div class="card-model d-flex justify-content-center align-items-center"
     role="button"
     data-bs-toggle="modal"
     data-bs-target="#top-register-product-modal">
    <div class="row">
        <div class="col-lg-12">
            <div class="label">上モデル</div>
        </div>
    </div>
</div>

<!-- newProductModal -->
<div class="modal fade" id="top-register-product-modal" tabindex="-1"
     aria-labelledby="top-large-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="side-large-modal-label">
                    新製品登録</h5>

                <!--Close Button side Modal-->
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        onclick="closeAndClear('side')"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding : 0px !important;">

                <div class="steps-container">
                    <div class="card" style="padding:0 !important;margin:0 !important;">
                        <div class="form">
                            <div class="left-side">
                                <div class="left-heading">
                                    <h3>商品登録</h3>
                                </div>
                                <div class="steps-content">
                                    <h3>ステップ<span class="step-number">1</span></h3>
                                    <p class="step-number-content active">新商品・現商品を登録する。</p>
                                    <p class="step-number-content d-none">画像を登録する</p>
                                    <p class="step-number-content d-none">特長画像を取得する</p>
                                    <p class="step-number-content d-none">ｓｆｓｆ.</p>
                                </div>
                                <ul class="progress-bar">
                                    <li class="active">ID登録</li>
                                    <li>画像取り込む</li>
                                    <li>特長画像</li>
                                    <li>拒否画像登録</li>
                                </ul>


                            </div>
                            <div class="right-side">
                                <div class="main active">
                                    <!--                                    <div class="text">-->
                                    <!--                                        <h2>ID登録</h2>-->
                                    <!--                                         <hr class="divider">-->
                                    <!--                                    </div>-->
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <!--New or Old Product choose-->
                                        <div class="wrapper-choose-product">
                                            <input type="radio"
                                                   name="select"
                                                   id="top-option-1"
                                                   checked onclick="checkRadio(id,'top')">
                                            <input type="radio"
                                                   name="select"
                                                   id="top-option-2"
                                                   onclick="checkRadio(id,'top')">
                                            <label for="top-option-1" class="option option-1">
                                                <div class="dot"></div>
                                                <span>新製品</span>
                                            </label>
                                            <label for="top-option-2" class="option option-2">
                                                <div class="dot"></div>
                                                <span>現製品</span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="row d-flex justify-content-center align-items-center"
                                         style="display: flex;align-content: center;flex-wrap: wrap;height:200px;">
                                        <div id="top-new-product-input" class="fadeIn">
                                            <div class="row d-flex justify-content-center align-items-center"
                                                 style="margin-bottom:5px;">
                                                <div class="col-lg-3">
                                                    <div class="label">
                                                        クラスID :
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" class="input-text-1"
                                                           style="width:100%;"
                                                           readonly value="999">
                                                </div>
                                                <div class="col-lg-5">
                                                    クラスIDが自動登録されます。
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-center align-items-center"
                                                 style="margin-bottom:5px;">
                                                <div class="col-lg-3">
                                                    <div class="label">
                                                        デサイングループ :
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="wrapper">
                                                        <div class="search-input">
                                                            <input type="search"
                                                                   class="input-text-1"
                                                                   placeholder="製品を検索するために入力する"
                                                                   style="width:100%;">
                                                            <div class="autocom-box">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="top-old-product-input" style="width:100%;" class="fadeIn">
                                            <div class="row d-flex justify-content-center align-items-center"
                                                 style="margin-bottom:5px;">
                                                <div class="col-lg-3">
                                                    <div class="label">
                                                        クラスID :
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <!--Autocomplete-->
                                                    <div class="wrapper">
                                                        <div class="search-input">
                                                            <input type="search"
                                                                   class="input-text-1"
                                                                   placeholder="製品を検索するために入力する"
                                                                   style="width:100%;">
                                                            <div class="autocom-box">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-center align-items-center"
                                                 style="margin-bottom:5px;">
                                                <div class="col-lg-3">
                                                    <div class="label">
                                                        デサイングループ :
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="wrapper">
                                                        <div class="search-input">
                                                            <input type="search"
                                                                   class="input-text-1"
                                                                   placeholder="製品を検索するために入力する"
                                                                   style="width:100%;">
                                                            <div class="autocom-box">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-bottom">
                                        <div class="buttons">
                                            <button class="next_button">次へ</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="main">
                                    <div class="row d-flex justify-content-center align-items-center"
                                         style="padding:0 !important;margin:0 !important; width: 50%;">
                                        <div class="col-lg-5">
                                            <div class="file-upload">
                                                <div class="top-image-upload-wrap">
                                                    <input class="top-file-upload-input"
                                                           type='file'
                                                           onchange="readURL(this,'top');"
                                                           accept="image/*"/>
                                                    <div class="drag-text">
                                                        <h3>画像を選択</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">又は</div>
                                        <div class="col-lg-5">
                                            <button type="button" class="btn_"
                                                    id="top">
                                                <img src="{{url_for('static', filename='resource/icon/camera.png')}}"
                                                     style="width:50px;height:50px;"
                                                     alt="camera"/>
                                                写真撮る
                                            </button>
                                        </div>
                                    </div>
                                    <hr class="divider">
                                    <div class="row d-flex justify-content-center align-items-center"
                                         style="padding:0 !important;margin:0 !important;">
                                        <div id="top-import-file">
                                            <div id="top-show-file" class="fix-image">
                                                <div class="top-file-upload-content">
                                                    <img class="top-file-upload-image"
                                                         src="#" alt="your image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="top-show-camera"
                                             class="fix-image">
                                            <video id="top-cam" class="cam">
                                            </video>
                                            <canvas id="top-canvas"
                                                    class="canvas"></canvas>
                                            <img id="top-photo" class="photo">
                                            <div  style="padding:0 !important;margin:0 !important;">
                                                <div>読み取った画像</div>
                                                <div>拒否画像</div>
                                            </div>

                                        </div>
                                        <div class="camera-control" hidden>
                                            <div class="row">
                                                <div class="col-6">
                                                    <img src="{{url_for('static', filename='resource/icon/play.svg')}}"
                                                         class="camera-button-control"
                                                         alt="add"
                                                         onclick="rePlay('top')"
                                                    />
                                                </div>
                                                <div class="col-6">
                                                    <img src="{{url_for('static', filename='resource/icon/take_photo.svg')}}"
                                                         class="camera-button-control"
                                                         id="take-top-photo"
                                                    />
                                                    <div id="snackbar">画像を撮りました。</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="range" class="fadeIn" hidden/>
                                    <div class="row row-bottom">
                                        <div class="buttons button_space">
                                            <button class="back_button">戻る</button>
                                            <button class="next_button">次へ</button>
                                        </div>
                                    </div>


                                </div>
                                <div class="main">
                                    <div class="row d-flex justify-content-center align-items-center"
                                         style="padding:0 !important;margin:0 !important; width: 50%;">
                                        <div class="col-lg-5">
                                            <div class="file-upload">
                                                <div class="top-image-upload-wrap">
                                                    <input class="top-file-upload-input"
                                                           type='file'
                                                           onchange="readURL(this,'top');"
                                                           accept="image/*"/>
                                                    <div class="drag-text">
                                                        <h3>画像を選択</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">又は</div>
                                        <div class="col-lg-5">
                                            <button type="button" class="btn_"
                                                    id="top1">
                                                <img src="{{url_for('static', filename='resource/icon/camera.png')}}"
                                                     style="width:50px;height:50px;"
                                                     alt="camera"/>
                                                写真撮る
                                            </button>
                                        </div>
                                    </div>
                                    <hr class="divider">
                                    <div class="draw">
                                        <canvas id="top-canvas-draw"
                                                class="canvas"></canvas>
                                        <img id="top-photo-draw" class="photo-draw">
                                    </div>
                                    <div class="row row-bottom">
                                        <div class="buttons button_space">
                                            <button class="back_button">戻る</button>
                                            <button class="next_button">次へ</button>
                                        </div>
                                    </div>
                                </div>


                                <div class="main">
                                    <small><i class="fa fa-smile-o"></i></small>
                                    <div class="text">
                                        <h2>User Photo</h2>
                                        <p>Upload your profile picture and share yourself.</p>
                                    </div>
                                    <div class="user_card">
                                        <span></span>
                                        <div class="circle">
                                            <span><img src="https://i.imgur.com/hnwphgM.jpg"></span>

                                        </div>
                                        <div class="social">
                                            <span><i class="fa fa-share-alt"></i></span>
                                            <span><i class="fa fa-heart"></i></span>

                                        </div>
                                        <div class="user_name">
                                            <h3>Peter Hawkins</h3>
                                            <div class="detail">
                                                <p><a href="#">Izmar,Turkey</a>Hiring</p>
                                                <p>17 last day . 94Apply</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons button_space">
                                        <button class="back_button">Back</button>
                                        <button class="submit_button">Submit</button>
                                    </div>
                                </div>
                                <div class="main">
                                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                    </svg>

                                    <div class="text congrats">
                                        <h2>Congratulations!</h2>
                                        <p>Thanks Mr./Mrs. <span class="shown_name"></span> your information have been
                                            submitted successfully for the future reference we will contact you soon.
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="modal-footer">-->
            <!--                <button type="button" class="btn btn-secondary"-->
            <!--                        data-bs-dismiss="modal"-->
            <!--                        onclick="closeAndClear('top')">閉じる-->
            <!--                </button>-->
            <!--                <button type="button" class="btn btn-primary"-->
            <!--                        style="background-color: Navy;">登録-->
            <!--                </button>-->
            <!--            </div>-->
        </div>
    </div>
</div>